body{
    background-color: #eee;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.container{
    max-width: 600px;
    margin: 20px auto 0;
    padding: 20px 0;
}
.post{
    background-color: white;
    margin-bottom: 10px;
    
    overflow: hidden;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);

}
.post-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    color: #888;
}
.post img{
    width: 100%;
    display: block;  
    height: auto;
}
.post-description{
    padding: 15px;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
}
header h1{
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}